$primary-color: green;

.myapp {
  background-color: $primary-color;
  color: #ffffff;
  h1 {
    font-size: 2em;
  }
  span {
    font-size: 1.5em;
    font-weight: bold;
  }
  input {
    font-size: 1.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em #ccc;
  }
}
